* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background: #fff;
}

body,
input,
button,
textarea {
  font: 18px Nunito, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.container p {
  text-align: justify;
  margin-bottom: 2rem;
  line-height: 30px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }
}
